@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@font-face{
    font-family: Alata;
    src: url("Alaba-Regular.ttf");
}

html body {
    font-family: Alata;
    max-width: 960px;
    padding: 20px;
    height: 100%;
    background-color: var(--nav-background-color);

}

:root {
    --primary-color: #141415;
    --secondary-color: #214E34;
    --accent1-color: #364156;
    --accent2-color: #C3C2C2;

    --heading-font: 'Alata', serif;
    --paragraph-font: 'Alata', serif;

    --nav-background-color: #011638;
    --nav-link-color: #d3cece;
    --nav-hover-link-color: #7c7d7e;
    --nav-hover-background-color: #031518;
}      

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
}

nav {
    font-size: 1.2rem;
    display: flex;
    padding: 0.5rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.home img {
    width: 130px;
    height: auto;

}

nav a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
}

/* week3 */

/* White water... */

.hero {
    text-align: center;
    color: white;
}

.hero img {
    display: block;
    width: 150%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(23, 21, 34, 0.5);
    padding: 50px;
    width: 87%;
    text-shadow: 0 0 10px rgb(234, 228, 228);
    margin: 0;
    font-size: 4em;
}

.hero article {
    position: absolute;
    bottom: -30%; 
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3rem;
    width: 80%;
    border-radius: 10px;
    text-align: left;
}

.hero article p {
    margin: 30px auto;
}

.hero article img {
    float: right;
    margin-left: 20px;
    border-radius: 10px;
    height: auto;
    width: 360px;
    padding: 10px;
    top: 23%;
    left: 55%;
}

/*week 4*/

/* History */

section h2 {
    position: relative;
    left: 64%;
    color: var(--nav-hover-background-color);
    transform: translate(-50%, -50%);
    background: var(--nav-hover-link-color);
    padding: 30px;
    width: 143.1%;
    margin: 100px;
    text-align: center;
    font-size: 3em;

}

.content {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    flex: 1;
    text-align: left;
    margin: 0 10px;
}

.history.center {
    flex: 1;
    text-align: center;
}

/* Adventure ... */







/*-------------------------*/

.sociallinks a img {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.sociallinks {
    text-align: center;
}
.home a {
    margin: 0 10px;
}

footer {
    text-align: center;
    padding: 5px;
    background: #333;
    color: white;
    bottom: 0;
    width: 100%;
}