* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

/*menu*/
nav a {
    color: #333;
    padding: 10px;
    display: block;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ac9633c3;
    box-shadow: 50px  #eee;
}

h1 {
    color:  #675712c3;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid, rgb(113, 91, 10);
    padding: 1rem;
    background-color: #635d11;
    color: #333;
    text-align: center;
}

/*Edition imagen colombia2.jpg*/
aside img{
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #eee;
    padding: 2px;
    box-shadow: 0 0 10px gray;
}

aside h2{
    text-shadow: 0 0 5px rgb(234, 228, 228);
}

p { padding: 0;}

/*black Linea*/

footer {
    margin-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

main img {
    float: right;
}

aside h2 {
    position: absolute;
    top: 525px;
    left: 127px;
}

li a {
    color: #333;
    position: absolute;
    left: 20px;
}

li {
    left: 20px;
    position: relative;
    left: 20px;
}